.container {
  margin: 10px;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  margin: 0 auto;
  height: 300px;
}

@media only screen and (max-width: 700px) {
  .img {
    height: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .img {
    height: 150px;
  }

  .div {
    display: inline;
  }
}
