.ul {
  list-style: none;
  padding: 2px;
  text-align: center;
}

.li {
  display: inline;
  padding: 15px;
  text-decoration: none;
}

.a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.active {
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: rgb(160, 89, 226);
  padding: 10px;
}

.container {
  background-color: blueviolet;
  border: 1px solid blueviolet;
}

@media only screen and (max-width: 500px) {
  .li {
    padding: 5px;
  }
  .a {
    padding: 2px;
  }
}

/*rgb(160, 89, 226);*/
